@use './colors';
@use './spacing';

header {
    height: spacing.$headerHeight;
    background-image: linear-gradient(to right, colors.$primaryColor, colors.$primaryDarkerColor);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: spacing.$gap;
    margin-right: spacing.$gap;
    width: 100%;
    max-width: spacing.$maxContainerWidth;
}

#logo-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: spacing.$smallGap;
    }

    & > span {
        font-family: Brush Script MT, cursive;
        font-size: 24pt;
    }
}

$logo-size: spacing.$headerLogoHeight;
#logo-image {
    width: $logo-size;
    height: $logo-size;
    border-radius: 50%;
}

#menu-container {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    svg {
        height: spacing.$headerItemHeight;
    }

    a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: spacing.$extraSmallGap;
        }
    }

    a:hover {
        text-decoration: underline;
    }

    & > *:not(:first-child) {
        margin-left: spacing.$largeGap;
    }
}
