@use './colors';
@use './spacing';

header {
    min-height: spacing.$headerHeight;
    width: 100vw;
    background-image: linear-gradient(to right, colors.$primaryColor, colors.$primaryDarkerColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#header-container {
    flex-basis: spacing.$headerHeight;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: spacing.$gap;
    padding-right: spacing.$gap;
    width: 100%;
    max-width: spacing.$maxContainerWidth;
}

#logo-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: spacing.$smallGap;
    }

    & > span {
        font-family: Brush Script MT, cursive;
        font-size: 24pt;
    }
}

$logo-size: spacing.$headerLogoHeight;
#logo-image {
    width: $logo-size;
    height: $logo-size;
    border-radius: 50%;
}

.menu-container {
    svg {
        height: spacing.$headerItemHeight;
    }

    a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        & > *:not(:last-child) {
            margin-right: spacing.$extraSmallGap;
        }
    }
}

#inline-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > *:not(:first-child) {
        margin-left: spacing.$largeGap;
    }
}

#expandable-menu {
    display: flex;
    flex-flow: column nowrap;

    & > * {
        margin-top: spacing.$smallGap;
        margin-bottom: spacing.$smallGap;
    }
}

#header-menu-button {
    width: spacing.$headerButtonSize;
    height: spacing.$headerButtonSize;
    border: 0;
    padding: spacing.$extraSmallGap;
    background-color: transparent;
    color: colors.$foregroundColor;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: colors.$primaryColor;
    }

    &:focus {
        outline: 0;
        background-color: colors.$primaryColor;
    }

    &:active {
                background-color: colors.$primaryLighterColor;
    }
}
