$headerHeight: 50px;
$headerLogoHeight: 42px;
$headerItemHeight: 20px;
$headerButtonSize: 32px;
$borderWidth: 1px;
$maxContainerWidth: 1200px;
$largeGap: 28px;
$gap: 20px;
$smallGap: 12px;
$extraSmallGap: 6px;
